[Desktop Entry]
Encoding=UTF-8
Name=Lien vers ESP8266 Pinout Reference: Which GPIO pins should you use? | Random Nerd Tutorials
Type=Link
URL=https://randomnerdtutorials.com/esp8266-pinout-reference-gpios/
Icon=mate-fs-bookmark
Name[fr_FR]=ESP8266 Pinout Reference.html
